<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{ base :: layout( ~{::title}, ~{::section} ) }">
<head>
<meta charset="UTF-8">
<title>Edit Notes:: Take Note</title>
</head>
<body>
<section>
	<!-- table code -->

		<div class="container mt-3">
			<div class="row">
				<div th:each="note: ${notes}" class="col-md-6 offset-md-3">
					<div class="card mt-3">

						<div class="card-header text-center">
							<h3>Edit Your Notes</h3>
							
						</div>

						<div class="card-body">


							<form action="/user/update-notes" method="post">

								<div class="mb-3">
									<label for="exampleFormControlSelect1">Title</label>
									<input class="form-control" type="text" name="title"
										required="required" th:value="${note.title}" />
								</div>

								<div class="mb-3">
									<label for="exampleFormControlSelect1">Description</label>
									<textarea rows="6" cols="" class="form-control" name="description">[[${note.description}]]</textarea> 
								</div>
								
								<!-- note id fetch -->
								<input class="form-control" type="hidden" name="id" required="required" th:value="${note.id}" />

								<div>
									<button type="submit" class="btn bg-wasim col-md-12 text-white">Update</button>
								</div>

							</form>
						</div>
						

					</div>
				</div>
			</div>

		</div>


		<!-- end of table code -->
</section>
</body>
</html>