<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" th:replace="~{ base :: layout( ~{::title}, ~{::section} ) }">
<head>
<meta charset="UTF-8">
<title>Login:: Take Note</title>
</head>
<body>
<section>
	<!-- table code -->

		<div class="container mt-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card mt-3">
						
						<div class="card-header text-center"> 
							<h3>Login</h3>
							
							<th:block th:if="${param.error}">
								<p class="text-center text-danger fs-5">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
							</th:block>
							
							<th:block th:if="${param.logout}">
								<p class="text-center text-success fs-5">Logout Successfully.</p>
							</th:block>
							
						</div>
						
						<div class="card-body">

							
							<form action="user-login" method="post">
								
								<div class="mb-3">
									<label for="exampleFormControlSelect1">Username/Email :</label> <input
										class="form-control" type="text" name="username"
										 required="required" />
								</div>

								<div class="mb-3">
									<label for="exampleFormControlSelect1">Password</label> <input
										class="form-control" type="password" name="password"
										/>
								</div>
								

								<div>
									<button type="submit" class="btn bg-wasim col-md-12 text-white">Submit</button>
								</div>

							</form>
						</div>
						<div class="card-footer text-center">
							<p class="fs-6">Don't have an account?
							<a href="register" style="text-decoration:none;">Register</a>
							</p>
						</div>

					</div>
				</div>
			</div>

		</div>


		<!-- end of table code -->
</section>

</body>
</html>